@model HotelSysteem.Models.HotelKamerVoorzieningen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HotelKamerVoorzieningen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kamer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kamer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oppervlakte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oppervlakte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balkon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balkon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badkamers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badkamers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slaapkamers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slaapkamers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
